* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #263d62;
}

.buttonRow {
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    width: 15vh;
    height: 15vh;
    margin: 3px 3px 4px 3px;
    border: 3px solid white;
    border-radius: 12px;
    background-color: #587cb6;
    transition: all .3s;
    text-align: center;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
button:hover {
    
    background-color: #2c3d5a;
}
h1, h2 {
    text-align: center;
}
h1 {
    margin: 20px 0px 10px 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 48px;
    color:rgb(95, 149, 231);
}
h2 {
    font-family: Verdana, sans-serif;
    margin-bottom: 30px;
}
h3 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.bold {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
}
#turnContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
#turn {
    background-color: #587cb6;
    padding: 10px 15px;
    border-radius: 10px
}
#resetButtonContainer {
    margin-top: 30px;
    text-align: center;
}
#resetButton {
    text-align: center;
    height: 40px;
    width: 40px;
    border: 0;
    border-radius: 100px;
    color: white;
    transition: all 1s;
    font-size: 18px;
}
#resetButton:hover {
    background-color: #587cb6;
    transform: rotate(90deg);
}
.red {
    color: #f26f6f;
}
.blue {
    color: #79d8d4;
}
.white {
    color: rgb(254, 255, 251);
}

/* Forms */
#playerNameForm {
    width: 290px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 5px;
}
#playerNameForm > div {
    display: flex;
    justify-content: space-between;
}
label {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
#submitButton {
    align-self: flex-end;
    width: 120px;
    height: auto;
    font-size: 16px;
    padding: 5px 2px;
    border-radius: 6px;
    transition: all .3s;
}
#submitButton:hover {
    background-color: #749ad6;
}